<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hi{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1 class="hi">Welcome CYBER SQUARE</h1>
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam officiis voluptatibus aspernatur quibusdam eligendi ut quaerat reiciendis. Fuga, iusto est adipisci itaque quod quos odio, aut ullam, animi sint optio?</P>
    <a href="/about">About</a>
    <a href="/contact" align="right">contact</a>
</body>
</html>